{% extends "dashboard.html" %}

{% block content %}
{% if selected_category %}
    <h3>מוצרים בקטגוריה: {{ selected_category.title }}</h3>
{% endif %}
<form method="get" action="">
<!-- Financing options placeholder -->

    <input type="text" name="search" placeholder="Search by title, price, or category" value="{{ search }}">
    <button type="submit">Search</button>
</form>

<table class="table table-striped ">
    <thead class="text-muted">
        <tr>
            <th scope="col">n</th>
            <th scope="col">
              <a href="?sort=title" style="color:inherit;text-decoration:none;">title &#8593;</a>
              <a href="?sort=-title" style="color:inherit;text-decoration:none;">&#8595;</a>
            </th>
            <th scope="col">
              <a href="?sort=price" style="color:inherit;text-decoration:none;">price &#8593;</a>
              <a href="?sort=-price" style="color:inherit;text-decoration:none;">&#8595;</a>
            </th>
            <th scope="col">
              <a href="?sort=category" style="color:inherit;text-decoration:none;">category &#8593;</a>
              <a href="?sort=-category" style="color:inherit;text-decoration:none;">&#8595;</a>
            </th>
            <th scope="col">
              <a href="?sort=date_created" style="color:inherit;text-decoration:none;">date &#8593;</a>
              <a href="?sort=-date_created" style="color:inherit;text-decoration:none;">&#8595;</a>
            </th>
            <th scope="col">מחיקה</th>
            <th scope="col">עריכה</th>

        </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          {% if product.slug %}
            <a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
          {% else %}
            {{ product.title }}
          {% endif %}
        </td>
        <td>₪{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.date_created|date:"M d" }}</td>
        <td><a class="text-danger text-decoration-none" href="{% url 'dashboard:delete_product' product.id %}">Delete</a></td>
        <td><a class="text-info text-decoration-none" href="{% url 'dashboard:edit_product' product.id %}">Edit</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}